<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news" href="/tabs/(news:news)">
      <ion-icon name="flash"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" >
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
