<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{article.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>       
         <ion-card-content>
           <ion-card-title>{{article.title}}</ion-card-title>
           <p>{{article.description}}</p>
         </ion-card-content>
       </ion-card>
</ion-content>
